<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleFileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SimpleFileManager.Properties.Settings>
            <setting name="LastDirectoryPath" serializeAs="String">
                <value>C:/Users/Wayne Beer/OneDrive/Blurb/ScribusProjects/2024_StockholmToReykjavik/SelectedBookPictures</value>
            </setting>
            <setting name="LastDirectoryDate" serializeAs="String">
                <value>1/22/2025 8:54:47</value>
            </setting>
        </SimpleFileManager.Properties.Settings>
    </userSettings>
</configuration>
